exportPattern("^[[:alpha:]]+")
import(ClusterR)
import(ggplot2)
import(gridExtra)
importFrom(KernSmooth, locpoly)
importFrom(KernSmooth, bkde)
importFrom(stats, approxfun)
importFrom(Matrix, Matrix)
importFrom(uwot, umap)